<article class="container-fluid">
    <section class="row">
        <div class="col-12">
            <h2 class="mt-3 mb-4 p-2 title">
                <span class="pb-1 underline-style-one">
                    Before becoming a technology enthusiast
                </span>
            </h2>
        </div>
    </section>

    <section class="row p-2">
        <aside class="col-sm-6 order-2 order-sm-2 col-lg-3 order-lg-1 mt-5 pt-sm-5 mt-lg-4 text-center">
            <img class="rounded-circle central-pic" src="assets/img/santi_madrid_low.png" alt="Santiago Ramos on his early twenties">
        </aside>

        <div class="col-sm-12 order-1 order-sm-1 col-lg-8 ml-lg-4 order-lg-1 mt-3 mb-3">            
            <article class="bg-light speech-bubble bubble-left">
                <p>
                    Like most of young adults, I entered university expecting to get the knowledge to get my a job for the rest of my life.
                </p>
                <p>
                    During my studying years, I worked in sales, marketing, accounting and event planning.
                </p>
                <p>
                    However in all those jobs I was missing a connection with the craftsmanship behind the product I was promoting. I was lacking of sense for tasks.
                </p>
            </article>
        </div>

        <div class="col-sm-6 order-3 order-sm-3 col-lg-12 order-lg-1 mt-5 mb-3 mt-lg-4 mb-lg-3 d-lg-flex align-items-center">

            <div class="col-12 col-lg-6">
                <figure class="p-3 d-flex flex-wrap align-items-center border border-secondary rounded bg-light mx-lg-auto">
                    <div class="col-4 p-0 text-center">
                        <img class="full-width" src="assets/logo/upf_logo.png" alt="Pompeu Fabra University Logo" />
                    </div>
                    <figcaption class="col-8 text-left">
                        <p class="mt-3">
                            <strong>Universitat Pompeu Fabra</strong>
                        </p>
                        <p>
                            <i class="fa fa-graduation-cap graduate"></i>
                            Economics degree
                        </p>
                        <p>
                            <em>2010 - 2014</em>
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-12 col-lg-6">
                <figure class="p-3 d-flex flex-wrap align-items-center border border-secondary rounded bg-light mx-lg-auto">
                    <div class="col-4 p-0 text-center">
                        <img class="full-width" src="assets/logo/uam_logo.png" alt="Universidad Autónoma de Madrid Logo" />
                    </div>
                    <figcaption class="col-8 text-left">
                        <p class="mt-3">
                            <strong>
                                Universidad Autónoma de Madrid
                            </strong>
                        </p>
                        <p>
                            <i class="fa fa-graduation-cap graduate"></i>
                            Law degree
                        </p>
                        <p>
                            <em>2012 - 2016</em>
                        </p>
                    </figcaption>
                </figure>
            </div>

        </div>

    </section>

    <hr>

    <!--TO DO --consider including GIF-->
    <!--<div class="row">-->
    <!--    <div class="col-12">-->
    <!--        <h2 class="p-2 title">But paths don't come as expected</h2>-->
    <!--        <div class="text-center">-->
    <!--            <img src="assets/img/gods-plan-clean.png" alt="Gods plan" style="width: 60%">-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <!--<hr>-->

    <section class="row">
        <div class="col-12">
            <h2 class="mt-3 mb-5 mb-lg-4 p-2 title">
                <span class="pb-1 underline-style-two">
                    My life changing influencers
                </span>
            </h2>
        </div>
    </section>

    <section class="row p-2 mb-2">

        <div class="col-sm-6 order-1 order-sm-1 col-lg-12 order-lg-1 d-lg-flex mt-lg-3 mb-lg-4">    
            <div class="col-12 col-lg-6">
                <figure class="col-12 p-3 d-flex flex-wrap align-items-center border border-secondary rounded bg-light mx-lg-auto">
                    <div class="col-4 p-0 text-center">
                        <img class="full-width p-2 pl-lg-4 pr-lg-4 pl-xl-5 pr-xl-5" src="assets/logo/harvard-logo.png" alt="Harvard University Logo" />
                    </div>
                    <figcaption class="col-8 text-left">
                        <p class="mt-3">
                            <strong>
                                Harvard University
                            </strong>
                        </p>
                        <p>
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Computer Science 50
                        </p>
                        <p>
                            <em>2017 (160 hours online)</em>
                        </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-12 col-lg-6">
                <figure class="col-12 p-3 d-flex flex-wrap align-items-center border border-secondary rounded bg-light mx-lg-auto">
                    <div class="col-4 p-0 text-center">
                        <img class="full-width p-2 pl-lg-4 pr-lg-4 pl-xl-5 pr-xl-5" src="assets/logo/ih-logo.png" alt="Ironhack Logo" />
                    </div>
                    <figcaption class="col-8 text-left">
                        <p class="mt-3">
                            <strong>Ironhack</strong>
                        </p>
                        <p>
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            Full stack web development bootcamp
                        </p>
                        <p>
                            <em>2018 (3 months)</em>
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="col-sm-12 order-3 order-sm-3 col-lg-8 order-lg-1 mt-5 mb-5 pt-5 pt-sm-0 mt-lg-3 mb-lg-5 mr-lg-4">
            <article class="bg-light speech-bubble bubble-right">
                <p>
                    I am eager to follow my intuition, so back in 2018 I gathered the courage to invest all my savings in a Web Development bootcamp.
                </p>
                <p>
                    It turned out to be one of the best decisions of my life, as have found in coding a true passion. I can stay hours focused in front of the screen, often at night.
                </p>
                <p>
                    In my personal work, like for food, I care for quality. I also love the complexity of human relations, so working inside a medium to big size team can stand out the brightest version of myself.
                </p>
            </article>
        </div>

        <aside class="col-sm-6 order-2 order-sm-2 col-lg-3 order-lg-3 mt-5 pt-sm-5 pt-md-0 text-center">
            <img class="rounded-circle central-pic" src="assets/img/santi_barcelona_low.jpg" alt="Santiago Ramos wearing glasses">
        </aside>

    </section>
</article>
