<article class="container-fluid">
    <section class="row mt-2">
        <div class="col-12">
            <h2 class="mb-3 p-2 title">
                <span class="underline-style-one" style="padding: inherit;">
                    Before becoming a technology enthusiast
                </span>
            </h2>
        </div>
    </section>

    <section class="row p-2">

        <aside class="col-sm-6 order-2 order-sm-2 col-lg-3 order-lg-1 mt-5 mt-lg-0 text-center" style="z-index: -2;">
            <img class="rounded central-pic" src="assets/img/santi_madrid_clean.png" alt="Santiago Ramos on his early twenties">
        </aside>

        <div class="col-sm-12 order-1 order-sm-1 col-lg-5 order-lg-1">
            <article class="rounded bg-light speech-bubble bubble-left p-3">
                <p>
                    Like most of young adults, I entered university expecting to get the knowledge to get my a job for the rest of my life.
                </p>
                <p>
                    During my studying years, I worked in sales, marketing, accounting and event planning.
                </p>
                <p>
                    However in all those jobs I was missing a connection with the craftsmanship behind the product I was promoting. I was lacking of sense for tasks.
                </p>
            </article>
        </div>

        <div class="col-sm-6 order-3 order-sm-3 col-lg-4 order-lg-1 mt-5 mt-lg-0 align-items-center">

            <figure class="col-12 p-2 d-flex flex-wrap align-items-center border border-secondary rounded bg-light">
                <div class="col-4 p-0 text-center">
                    <img class="full-width" src="assets/logo/upf_logo.png" alt="Pompeu Fabra University Logo" />
                </div>
                <figcaption class="col-8 text-left degree-description">
                    <p>
                        <strong>Universitat Pompeu Fabra</strong>
                    </p>
                    <p>
                        <i class="fa fa-graduation-cap graduate"></i>
                        Economics degree
                    </p>
                    <p>
                        <em>2010 - 2014</em>
                    </p>
                </figcaption>
            </figure>

            <figure class="col-12 p-2 mt-2 d-flex flex-wrap align-items-center border border-secondary rounded bg-light">
                <div class="col-4 p-0 text-center">
                    <img class="full-width" src="assets/logo/uam_logo.png" alt="Universidad Autónoma de Madrid Logo" />
                </div>
                <figcaption class="col-8 text-left degree-description">
                    <p>
                        <strong>
                            Universidad Autónoma de Madrid
                        </strong>
                    </p>
                    <p>
                        <i class="fa fa-graduation-cap graduate"></i>
                        Law degree
                    </p>
                    <p>
                        <em>2012 - 2016</em>
                    </p>
                </figcaption>
            </figure>

        </div>

    </section>

    <hr>

    <!--TO DO --consider including GIF-->
    <!--<div class="row">-->
    <!--    <div class="col-12">-->
    <!--        <h2 class="p-2 title">But paths don't come as expected</h2>-->
    <!--        <div class="text-center">-->
    <!--            <img src="assets/img/gods-plan-clean.png" alt="Gods plan" style="width: 60%">-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <!--<hr>-->

    <section class="row mt-2">
        <div class="col-12">
            <h2 class="mb-3 p-2 title">
                <span class="underline-style-two" style="padding: inherit;">
                    My life changing influencers
                </span>
            </h2>
        </div>
    </section>

    <section class="row p-2 mb-2">

        <div class="col-sm-6 order-1 order-sm-1 col-lg-4 order-lg-1">

            <figure class="col-12 d-flex flex-wrap align-items-center p-2 border border-secondary rounded bg-light">
                <div class="col-4 p-0 text-center">
                    <img class="full-width" src="assets/logo/ih_logo.png" alt="Pompeu Fabra University Logo" />
                </div>
                <figcaption class="col-8 text-left degree-description">
                    <p>
                        <strong>Ironhack</strong>
                    </p>
                    <p>
                        <i class="fa fa-certificate" aria-hidden="true"></i>
                        Full stack web development bootcamp
                    </p>
                    <p>
                        <em>2018 (3 months)</em>
                    </p>
                </figcaption>
            </figure>

            <figure class="col-12 p-2 mt-2 d-flex flex-wrap align-items-center border border-secondary rounded bg-light">
                <div class="col-4 p-0 text-center">
                    <img class="full-width" src="assets/logo/harvard_logo.png" alt="Universidad Autónoma de Madrid Logo" />
                </div>
                <figcaption class="col-8 text-left degree-description">
                    <p>
                        <strong>
                            Harvard University
                        </strong>
                    </p>
                    <p>
                        <i class="fa fa-certificate" aria-hidden="true"></i>
                        Computer Science 50
                    </p>
                    <p>
                        <em>2020 (160 hours online)</em>
                    </p>
                </figcaption>
            </figure>

        </div>

        <div class="col-sm-12 order-3 order-sm-3 col-lg-5 order-lg-1 mt-5 mt-lg-0">
            <article class="rounded bg-light speech-bubble bubble-right p-3">
                <p>
                    I am eager to follow my intuition, so back in 2018 I gathered the courage to invest all my savings in a Web Development bootcamp.
                </p>
                <p>
                    It turned out to be one of the best decisions of my life, as have found in coding a true passion. I can stay hours focused in front of the screen, often at night.
                </p>
                <p>
                    In my personal work, like for food, I care for quality. I also love the complexity of human relations, so working inside a medium to big size team can stand out the brightest version of myself.
                </p>
            </article>
        </div>

        <aside class="col-sm-6 order-2 order-sm-2 col-lg-3 order-lg-3 text-center">
            <img class="rounded central-pic" src="assets/img/santi_barcelona_low.jpg" alt="Santiago Ramos wearing glasses">
        </aside>

    </section>
</article>
