<article class="container-fluid">
    <section class="carousel">
        <div class="row" style="min-height:20rem">
            <div class="col-12 col-md-6 p-0">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="img_1" class="d-block w-100 animated bounceInLeft delay-0s" src="assets/img/santi_mulleres_low.jpeg" alt="Santi on top of the mountain">
                    </div>
                </div>
                <div id="img_1_caption">
                    <div class="caption-carousel">
                        <h1 class="font-luckiest animated bounceInDown delay-1s">Hello world!</h1>
                        <p class="font-indie animated bounceIn delay-2s">It's persistance what brings you to the top.</p>
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-6 p-0">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="img_2" class="d-block w-100 animated bounceInRight delay-0s" src="assets/img/santi_cafeteria_low.jpg" alt="Santi working from a coffee shop">
                    </div>
                </div>
                <div id="img_2_caption">
                    <div class="caption-carousel">
                        <p class="font-indie animated bounceIn delay-2s">A coffee nomad developer since worldwide lockdown.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row text-center font-poppins">
        <div class="col-sm-6 col-md-4 p-3 mx-auto values">
            <span class="underline-orange">
                ENERGY
            </span>
            <div>
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 p-3 mx-auto values">
            <span class="underline-blue">
                INTEGRITY
            </span>
            <div>
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 p-3 pt-sm-0 pt-md-3 mx-auto values">
            <span class="underline-black">
                RESULTS
            </span>
            <div>
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
        </div>
    </section>

    <!--ANOTHER WAY TO DISPLAY VALUES-->
    <!--<div class="row">-->
    <!--    <div class="col-4 p-3 mx-auto values text-center font-poppins" style="background-color: #3da5d9; border-right: dotted white 1px">-->
    <!--        <span style="color: black">-->
    <!--            ENERGY-->
    <!--        </span>-->
    <!--    </div>-->
    <!--    <div class="col-4 p-3 mx-auto values text-center font-poppins" style="background-color: #3da5d9">-->
    <!--        <span style="color: white">-->
    <!--            OPTIMISM-->
    <!--        </span>-->
    <!--    </div>-->
    <!--    <div class="col-4 p-3 mx-auto values text-center font-poppins" style="background-color: white; border: thick double #3da5d9"">-->
    <!--        <span style="color: black">-->
    <!--            RESULTS-->
    <!--        </span>-->
    <!--    </div>-->
    <!--</div>-->

    <section class="row">
        <div class="col-10 offset-1">
            <p>
                My nickname could be <strong style="color:orange">enthusiasm</strong>. I am full of energy and curiosity, ready to learn and integrate new concepts. I love team-work, that is why I do not hesitate helping my teammates, but I also know when to ask for help. I am eager to lead and make the <strong>team committed</strong> to our goals.
            </p>
            <p>
                Having an entrepreneurial mindset, I've co-founded two startups. This has given me a valuable experience with <strong style="color:blue">cross-functional</strong> meetings and understanding different points of view.
                I have learned to be very <strong style="color:orange">patient</strong> and <strong style="color:orange">organized</strong>, and good at coping with frustration when code does not work as expected.
            </p>
            <p>
                Traveling is my passion. I have visited more than 40 countries! My <strong style="color:orange">dream</strong> is to enlarge that list and create the biggest sharing experiences website providing the best tips for <strong style="color:blue">digital nomads</strong>.
            </p>
            <p>
                I am currently open to professional opportunities but also personal <strong>tech projects</strong>.
                Get in touch for <strong style="color:blue">quotes</strong>, joining an existing team or have a coffee to talk about traveling.
            </p>
            <p class="text-center">
                Santiago Ramos
            </p>
            <aside class="text-center">
                <button class="button btn btn-primary mb-2">
                    <a class="bald-link" style="color:white" href="mailto:santi92.network@gmail.com">
                        Get in touch
                    </a>
                    <i class="fa fa-weixin" aria-hidden="true"></i>
                </button>
            </aside>
        </div>
    </section>
</article>