<article class="container-fluid">
    <section class="carousel">
        <div class="row">
            <div class="col-12 col-md-6 p-0 d-flex flex-column">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img
                            id="img_1"
                            class="d-block w-100 animated bounceInLeft delay-0s"
                            src="assets/img/santi_mulleres_low.jpeg"
                            alt="Santi on top of the mountain"
                        />
                    </div>
                </div>
                <div id="img_1_caption">
                    <div class="caption-carousel">
                        <!-- <h1 class="font-poppins animated bounceInDown delay-1s">Hello world!</h1> -->
                        <p class="animated bounceIn delay-1s pt-3 pb-3">
                            It's persistance what brings you to the top.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-6 p-0 d-flex flex-column">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img
                            id="img_2"
                            class="
                                d-block
                                w-100
                                h-100
                                animated
                                bounceInRight
                                delay-0s
                            "
                            src="assets/img/santi_cafeteria_low.jpg"
                            alt="Santi working from a coffee shop"
                        />
                    </div>
                </div>
                <div id="img_2_caption">
                    <div class="caption-carousel">
                        <p class="animated bounceIn delay-1s pt-3 pb-3">
                            A coffee nomad developer since worldwide lockdown.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row text-center font-poppins">
        <div class="col-sm-6 col-md-4 p-3 mx-auto mt-md-4 mb-md-4 values">
            <span class="underline-style-one"> ENERGY </span>
            <div>
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 p-3 mx-auto mt-md-4 mb-md-4 values">
            <span class="underline-style-two"> INTEGRITY </span>
            <div>
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </div>
        </div>
        <div
            class="
                col-sm-12 col-md-4
                p-3
                pt-sm-0 pt-md-3
                mx-auto
                mt-md-4
                mb-md-4
                values
            "
        >
            <span class="underline-style-three"> RESULTS </span>
            <div>
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
        </div>
    </section>

    <!--ANOTHER WAY TO DISPLAY VALUES-->
    <!--<div class="row">-->
    <!--    <div class="col-4 p-3 mx-auto values text-center font-poppins" style="background-color: #3da5d9; border-right: dotted white 1px">-->
    <!--        <span style="color: black">-->
    <!--            ENERGY-->
    <!--        </span>-->
    <!--    </div>-->
    <!--    <div class="col-4 p-3 mx-auto values text-center font-poppins" style="background-color: #3da5d9">-->
    <!--        <span style="color: white">-->
    <!--            OPTIMISM-->
    <!--        </span>-->
    <!--    </div>-->
    <!--    <div class="col-4 p-3 mx-auto values text-center font-poppins" style="background-color: white; border: thick double #3da5d9"">-->
    <!--        <span style="color: black">-->
    <!--            RESULTS-->
    <!--        </span>-->
    <!--    </div>-->
    <!--</div>-->

    <section class="row">
        <div class="col-10 offset-1 mt-3 mb-3">
            <p class="mb-4">
                My nickname could be
                <strong class="plain-style-one">enthusiasm</strong>. I am full
                of energy and curiosity, ready to learn and integrate new
                concepts. I love team-work, that is why I do not hesitate
                helping my teammates, but I also know when to ask for help. I am
                eager to lead and make the
                <strong class="plain-style-three">team committed</strong> to our
                goals.
            </p>
            <p class="mb-4">
                Having an entrepreneurial mindset, I've co-founded two startups.
                This has given me a valuable experience with
                <strong class="plain-style-two">cross-functional</strong>
                meetings and understanding different points of view. I have
                learned to be very
                <strong class="plain-style-one">patient</strong> and
                <strong class="plain-style-one">organized</strong>, and good at
                coping with frustration when code does not work as expected.
            </p>
            <p class="mb-4">
                Traveling is my passion. I have visited more than 40 countries!
                My <strong class="plain-style-one">dream</strong> is to enlarge
                that list and create the biggest sharing experiences website
                providing the best tips for
                <strong class="plain-style-two">digital nomads</strong>.
            </p>
            <p class="mb-4">
                I am currently open to professional opportunities but also
                personal
                <strong class="plain-style-three">tech projects</strong>. Get in
                touch for <strong class="plain-style-two">quotes</strong>,
                joining an existing team or have a coffee to talk about
                traveling.
            </p>
            <p class="mb-4">Santiago Ramos</p>
            <aside class="text-center pt-3 pb-3">
                <button class="button btn mb-2 background-style-two">
                    <a
                        class="bald-link contrast-color"
                        href="mailto:santi92.network@gmail.com"
                    >
                        Get in touch
                    </a>
                    <i
                        class="fa fa-weixin contrast-color ml-2"
                        aria-hidden="true"
                    ></i>
                </button>
            </aside>
        </div>
    </section>
</article>
