<article class="timeline">

    <article class="entry">
        <aside class="title">
          <h3>January 2021 - Present</h3>
          <p>Fullstack Web Developer</p>
          <p>SERDAO</p>
        </aside>
        <section class="description">
          <h5>Building device tracking solutions over maps and geolocalization.</h5>
          <ul>
            <li>Defining, grooming and estimation of each story.</li>
            <li>Migrating legacy code from GWT to Angular and adding new features on top of old app.</li>
            <li>Building multiple integrated apps using Angular libraries.</li>
            <li>Usage of microservices and docker.</li>
            <li>Software unit and end-to-end testing.</li>
            <li>Code review.</li>
            <li>Participate to demos and sprint retrospectives.</li>
            <li>70% of the role being on remote.</li>
          </ul>
        </section>
      </article>

    <article class="entry">
        <aside class="title">
          <h3>June 2020 - December 2020</h3>
          <p>Frontend and CMS web developer</p>
          <p>FREELANCE</p>
        </aside>
        <section class="description">
            <h5>Developing websites for businesses and individual clients.</h5>
            <ul>
            <li>Promoting my own brand, contacting customers and budgeting projects.</li>
            <li>Defining deliverables to meet customer expectations.</li>
            <li>Contracting hosting services and host domains. Web environment setup.</li>
            <li>Frontend development with frameworks like Angular, VueJS and Wordpress.</li>
          </ul>
        </section>
      </article>

  <article class="entry">
    <aside class="title">
      <h3>April 2018 - March 2020</h3>
      <p>Fullstack Web Developer</p>
      <p>EVERIS</p>
    </aside>
    <section class="description">
      <h5>Developing websites for the European Commission.</h5>
      <ul>
        <li>Defining, grooming and estimation of the tasks to be done for each user story hand in hand with the PO.</li>
        <li>Deploying, creating releases and reviewing pull-requests for many environments including production.</li>
        <li>Software unit and end-to-end testing.</li>
        <li>Demo presenter to show to the product owner the developments from a finished sprint.</li>
        <li>Experience in creating reusable web components and design systems for the tech look&feel of a company.</li>
        <li>Coordinating front-end development among 5 team members.</li>
        <li>Continuous feedback culture and review meetings to come up with key actions for improvements.</li>
        <li>Team player looking for mates to reach further expectations as a single unified soul.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>June 2017 - December 2017</h3>
      <p>Junior Key Account Manager</p>
      <p>CAIXABANK</p>
    </aside>
    <section class="description">
      <h5>Sales and customer relationship as a bank clerk.</h5>
      <ul>
        <li>Welcome customers at the office and solve their queries.</li>
        <li>Advice customers about banking products, helding meetings and daily cold calling.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>September 2016 - May 2017</h3>
      <p>Operations and Customer Relationship</p>
      <p>BLUNDER</p>
    </aside>
    <section class="description">
      <h5>Supporting clients on software usage and consultancy based on user's activity.</h5>
      <ul>
        <li>Daily overall supervision of users activity with Google Analytics. Problem-solving skills providing customer support for an optimized use of the platform. Workshops presenter on platform usage and composition of user's manuals and FAQ's.</li>
        <li>Reports on companies' knowledge structure and identifying formulas for improvement using MySQL.</li>
        <li>Defining and implementing Google Adwords strategy to increase conversion funnel.</li>
        <li>Exhibitor at "4 Years From Now" 2017.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>September 2016 - December 2016</h3>
      <p>Consultant</p>
      <p>RHYZOME NETWORKS</p>
    </aside>
    <section class="description">
      <h5>Market research in the UK on bussiness opportunities.</h5>
      <ul>
        <li>Market research on UK entrepreneurship environment and its synergies with corporate and institutional players.</li>
        <li>Writting of consultancy reports after data monitoring.</li>
        <li>Accountancy annalist and understanding of client's business acumen to formulate new business opportunities.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>November 2015 - May 2016</h3>
      <p>Events coordinator</p>
      <p class="break-long-words">FINANZIAPYME</p>
    </aside>
    <section class="description">
      <h5>Organizing startup investment events and preparing startup teams to get through private & public investment rounds.</h5>
      <ul>
        <li>Define the objectives and structure of the investment events.</li>
        <li>Look for potential candidates for the contest, invitation and queries solving.</li>
        <li>Main events coordination as a Master of Ceremonies, including welcoming of the participants & judges, control the timing of activities, catering service and spokesperson with the different venues.</li>
        <li>Writing of economic reports to achieve public financial aid.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>October 2014 - July 2015</h3>
      <p>Founder & Business Development Manager</p>
      <p>COMPETIS</p>
    </aside>
    <section class="description">
      <h5>Founding a startup to bring education to the next level using technology.</h5>
      <ul>
        <li>Communication with universities, teachers and students (users). Copywriter for web and messages content . Generation of digital content to improve customer engagement.</li>
        <li>Defining marketing strategy, KPI's, supervise execution plan and measurement of advertisement impact. Improvement of SEM in combination with Google Analytics to track our users.</li>
        <li>Organizing workshops at university about learning innovation tools.</li>
        <li>Customer relationship management for the use of the virtual platform.</li>
        <li>Look for educational partners in order to obtain contents for users and get better SEO positioning.</li>
      </ul>
    </section>
  </div>

  <article class="entry">
    <aside class="title">
      <h3>March 2014 - June 2015</h3>
      <p>Barcelona Community Organizer</p>
      <p>STARTUP WEEKEND</p>
    </aside>
    <section class="description">
      <h5>Organizing entrepreneurship events.</h5>
      <ul>
        <li>Local community volunteers coordinate their efforts in order to look for a venue, judges, speakers, facilitators, financial aids, partners in accommodation for international participants, broadcasting the event, ticketing and catering.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>July 2013 - September 2014</h3>
      <p>Spokesperson towards firms and town halls</p>
      <p class="break-long-words">ESADECREAPOLIS</p>
    </aside>
    <section class="description">
      <h5>Seek and incorporate new clients and partners.</h5>
      <ul>
        <li>Getting in touch with entrepreneurial organizations and town halls.</li>
        <li>Everyday interviews with entrepreneurs, startups, SMEs and corporations.</li>
        <li>Participation in conferences (Spain & Brasil), fairs, and other events to promote our services as well as meeting new contacts and companies.</li>
        <li>Propose and negotiate contract conditions, rates and terms.</li>
        <li>Designing offers, writing and sending press notes.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>September 2012 - June 2014</h3>
      <p>Teenagers instructor</p>
      <p>CONSELL DE JOVENTUT DE BARCELONA</p>
    </aside>
    <section class="description">
      <h5>Teaching courses to high-school students about social involvement.</h5>
      <ul>
        <li>Teaching in public schools (50 hours per year).</li>
        <li>Participating to meetings for feedback and enhancement of the project.</li>
      </ul>
    </section>
  </article>

  <article class="entry">
    <aside class="title">
      <h3>January 2010 - July 2014</h3>
      <p>Youth leader</p>
      <p>FUNDACIÓ PERE TARRÉS</p>
    </aside>
    <section class="description">
      <h5>Educate teenagers to be conscious and hands-on citizens the day after tomorrow.</h5>
      <ul>
        <li>Team coordinator and activity planner for children between 5 and 17 years old, once a week (5 hours) and during summertime (two weeks).</li>
        <li>Training of future members aiming to volunteer in social projects.</li>
        <li>Teach workshops on children psychology, team building, creativity and emotional intelligence.</li>
        <li>Institutional dialogue with the public administration.</li>
        <li>Search of financial aids and grants for summer camps.</li>
        <li>Finances management.</li>
      </ul>
    </section>
  </article>

</article>
