<article class="container-fluid h5-titles-style">

    <div class="row mt-3 pt-3 mb-3 pb-3 mx-auto">
        <h2 class="ml-3 mb-3 full-width title underline-style-two">
            Projects
        </h2>
        <p class="mb-0 ml-3 mr-3">
            Find below a list of projects I have been involved as part of my profesional work or personal time dedication.
            For a detailed overview on my personal projects, check out my Github account <a href="https://github.com/santironhacker" target="_blank">here</a>.
        </p>
    </div>

    <hr>

    <article>
        <section class="row mt-3 pt-3 mx-auto d-flex-inline align-items-center">
            <div>
                <img class="ml-3" src="assets/img/logo_wifi4eu.jpg" alt="WiFi4EU project logo" style="max-height: 3rem">
            </div>
            <h3 class="ml-3 full-width title underline-style-one">
                <a class="bald-link" href="https://wifi4eu.ec.europa.eu/" target="_blank">
                    WiFi 4 EU
                </a>
            </h3>
            <aside class="hashtag d-none d-md-inline">
                #Professional
            </aside>
        </section>
        <section class="row pt-2 pb-2 mx-auto d-inline-flex flex-wrap">
            <figure class="col-12 col-md-6">
                <figcaption>
                    <h5 class="mt-3 mb-4">
                        Project overview
                    </h5>
                </figcaption>
                <div class="long-screenshot-container">
                    <img class="full-width" src="assets/img/wifi4eu_snapshot.jpg" alt="WiFi4EU homepage snapshot">
                </div>
            </figure>
            <section class="col-12 col-md-6">
                <h5 class="mt-3 mb-4">
                    Description
                </h5>
                <p>
                    The WiFi4EU initiative promotes free access to Wi-Fi connectivity for citizens in public spaces including parks,
                    squares, public buildings, libraries, health centres and museums in municipalities throughout Europe.
                </p>

                <h5 class="mt-4 mb-3">
                    Special achievements
                </h5>
                <ul>
                    <li>Optimizing services and data logic between 4 different modules within the same project.</li>
                    <li>Processing more than 1000 requests per second at specific dates.</li>
                    <li>Website available in 24 languages.</li>
                </ul>

                <h5 class="mt-4 mb-3">
                    Technical specifications
                </h5>
                <ul>
                    <li>Maven project running on Tomcat.</li>
                    <li>Developing frontend in Angular, backend services in Java and database queries in SQL Server.</li>
                    <li>Usage of Angular i18n for languages, NGprime for components and European ECAS specific log-in.</li>
                </ul>
            </section>
        </div>
    </article>

    <hr>

    <article>
        <section class="row mt-3 pt-3 mx-auto d-flex-inline align-items-center">
            <h3 class="ml-3 full-width title underline-style-two">
                <a class="bald-link" href="https://eu-secondary.dentsuaegistracking.com/" target="_blank">
                    Secondary Repository
                </a>
            </h3>
            <aside class="hashtag d-none d-md-inline">
                #Professional
            </aside>
        </section>
        <section class="row pt-2 pb-2 space-list-bottom mx-auto">
            <section class="col-12 col-md-6 order-2 order-md-1">
                <h5 class="mt-3 mb-4">
                    Description
                </h5>
                <p>
                    This repository is the world’s largest tracking system, commissioned by the European Commission. The solution helps the 28 EU Member States
                    to fight against illicit trade with end-to-end traceability across the supply-chain for tobacco (EU Tobacco Product Directive).
                </p>

                <h5 class="mt-4 mb-3">
                    Special achievements
                </h5>
                <ul>
                    <li>Dealing with petabytes of data comming from tobacco industry.</li>
                    <li>Building a meaningful UI to help customs officers detect irregularities in tobacco supply chain.</li>
                    <li>Reusable web components achieving faster loading and development.</li>
                </ul>

                <h5 class="mt-4 mb-3">
                    Technical specifications
                </h5>
                <ul>
                    <li>Azure DevOps project running on Tomcat.</li>
                    <li>Developing frontend in Angular, backend infrastructure in .NET, Dynamo DB as a database.</li>
                    <li>Usage of tools for data visualization embeded in the website like Amazon QuickSight and Redshift.</li>
                </ul>
            </section>
            <figure class="col-12 col-md-6 order-1 order-md-2 mx-auto">
                <figcaption>
                    <h5 class="mt-3 mb-4">
                        Project overview
                    </h5>
                </figcaption>
                <img class="full-width" src="assets/img/secondary_snapshot.jpg" alt="Secondary repository homepage snapshot">
            </figure>
        </section>
    </article>

    <hr>

    <article>
        <section class="row mt-3 pt-3 mx-auto d-flex-inline align-items-center">
            <div>
                <img class="ml-3" src="assets/img/logo_acollida.png" alt="Acollida de Barcelona project logo" style="max-height: 3rem">
            </div>
            <h3 class="ml-3 full-width title underline-style-one">
                <a class="bald-link" href="https://acollida-bcn.firebaseapp.com/#/home" target="_blank">
                    Acollida Barcelona
                </a>
            </h3>
            <aside class="hashtag d-none d-md-inline">
                #Professional
            </aside>
        </section>
        <section class="row pt-2 pb-2 mx-auto">
            <figure class="col-12 col-sm-6">
                <figcaption>
                    <h5 class="mt-3 mb-4">
                        Project overview
                    </h5>
                </figcaption>
                <div class="d-flex justify-content-center">
                    <img class="app-screenshot" src="assets/img/acollida_frame.jpg" alt="Acollida de Barcelona homepage snapshot">
                </div>
            </figure>
            <div class="col-12 col-sm-6 space-list-bottom">
                <h5 class="mt-3 mb-4">
                    Description
                </h5>
                <p>
                    This website is for a social organization aiming to transport pilgrims across Europe with self-booked buses.
                </p>

                <h5 class="mt-4 mb-3">
                    Special achievements
                </h5>
                <ul>
                    <li>Full dashboard for admin users to launch campaigns with buses and schedules, notify participants by email and visualize resume data.</li>
                    <li>Dealing automatically with conflicts caused by multiple participants trying to book the same bus all at once.</li>
                    <li>Fully responsive website aimed to be used confortably with a smartphone.</li>
                </ul>

                <h5 class="mt-4 mb-3">
                    Technical specifications
                </h5>
                <ul>
                    <li>Firebase app using its hosting and authentication.</li>
                    <li>Developing frontend in Vue, backend cloud functions and database with Firebase.</li>
                    <li>Use of Vue libraries like calendar for schedules, font-awesome for icons and vuetify for forms.</li>
                </ul>
            </div>
        </section>
    </article>

    <hr>

    <article>
        <section class="row mt-3 pt-3 mx-auto d-flex-inline align-items-center">
            <h3 class="ml-3 full-width title underline-style-three">
                <a class="bald-link" href="https://santironhacker.github.io/vue-movie-finder/" target="_blank">
                    Movie Finder
                </a>
            </h3>
            <aside class="hashtag is-personal d-none d-md-inline">
                #Personal
            </aside>
        </section>
        <section class="row pt-2 pb-2 space-list-bottom mx-auto">
            <section class="col-12 col-md-6 order-2 order-md-1">
                <h5 class="mt-3 mb-4">
                    Description
                </h5>
                <p>
                    An representative website of a UI displaying content provided from HTTP requests based on user request.
                    A "save for later" tool designed to keep track of your friend's audiovisual recommendations.
                </p>

                <h5 class="mt-4 mb-3">
                    Special achievements
                </h5>
                <ul>
                    <li>Pagination mixed with swipping of elements in the screen.</li>
                    <li>Choice of UI and styles, creating reusable web components.</li>
                    <li>Use of user input to display appropiate feedback when navigating on the site.</li>
                </ul>

                <h5 class="mt-4 mb-3">
                    Technical specifications
                </h5>
                <ul>
                    <li>Pure frontend built on VueJS v2.</li>
                    <li>Use of <a class="bald-link" href="https://swiperjs.com/vue" target="_blank">Swipper</a> library to create horizontal scroll book effect.</li>
                    <li>Http requests for searching movies over <a class="bald-link" href="https://www.omdbapi.com/" target="_blank">OMDB</a> API.</li>
                </ul>
            </section>
            <figure class="col-12 col-md-6 order-1 order-md-2 mx-auto">
                <figcaption>
                    <h5 class="mt-3 mb-4">
                        Project overview
                    </h5>
                </figcaption>
                <img class="full-width" src="assets/img/movie_finder_snapshot.png" alt="Movie Finder search snapshot">
            </figure>
        </section>
    </article>

    <hr>

    <article>
        <section class="row mt-3 pt-3 mx-auto d-flex-inline align-items-center">
            <h3 class="ml-3 full-width title underline-style-two">
                <a class="bald-link" href="https://angular-funds-dashboard.web.app/" target="_blank">
                    Funds Dashboard
                </a>
            </h3>
            <aside class="hashtag is-personal d-none d-md-inline">
                #Personal
            </aside>
        </section>
        <section class="row pt-2 pb-2 mx-auto d-inline-flex flex-wrap">
            <figure class="col-12 col-md-6">
                <figcaption>
                    <h5 class="mt-3 mb-4">
                        Project overview
                    </h5>
                </figcaption>
                <div class="long-screenshot-container">
                    <img class="full-width" src="assets/img/funds_dashboard_snapshot.png" alt="Angular funds dashboard searh results snapshot">
                </div>
            </figure>
            <section class="col-12 col-md-6">
                <h5 class="mt-3 mb-4">
                    Description
                </h5>
                <p>
                    This Angular project was build for an interview.
                    Designed to represent a dashboard for consulting funds and perform financial management tasks.
                </p>

                <h5 class="mt-4 mb-3">
                    Special achievements
                </h5>
                <ul>
                    <li>Designed a script to upload 100.000 excel rows results on Firebase Realtime Database.</li>
                    <li>Use of Firebase indexes to speed up queries reaching over the UI like sorting and pagination.</li>
                </ul>

                <h5 class="mt-4 mb-3">
                    Technical specifications
                </h5>
                <ul>
                    <li>Frontend website built in Angular v10.</li>
                    <li>Hosted via Firebase and using Realtime Database.</li>
                    <li>Use of Angular Materials library for table, closing panels and dropdowns.</li>
                </ul>
            </section>
        </div>
    </article>

    <hr>

    <article>
        <section class="row mt-3 pt-3 mx-auto d-flex-inline align-items-center">
            <h3 class="ml-3 full-width title underline-style-three">
                <a class="bald-link" href="https://www.burgerbuilder.santiagoramos.es/" target="_blank">
                    Burger Builder
                </a>
            </h3>
            <aside class="hashtag is-personal d-none d-md-inline">
                #Personal
            </aside>
        </section>
        <section class="row pt-2 pb-2 space-list-bottom mx-auto">
            <section class="col-12 col-md-6 order-2 order-md-1">
                <h5 class="mt-3 mb-4">
                    Description
                </h5>
                <p>
                    An awesome react burger builder made for learning purposes.
                    Customize your next order thanks to a real time visualization of the final product.
                </p>

                <h5 class="mt-4 mb-3">
                    Special achievements
                </h5>
                <ul>
                    <li>Intuitive design.</li>
                    <li>Creation of reusable web components.</li>
                    <li>Using a high order component to wrap the layout and handle errors.</li>
                </ul>

                <h5 class="mt-4 mb-3">
                    Technical specifications
                </h5>
                <ul>
                    <li>Pure frontend built on React v16.</li>
                </ul>
            </section>
            <figure class="col-12 col-md-6 order-1 order-md-2 mx-auto">
                <figcaption>
                    <h5 class="mt-3 mb-4">
                        Project overview
                    </h5>
                </figcaption>
                <img class="full-width" src="assets/img/burger_builder_snapshot.jpg" alt="Burger builder homepage snapshot">
            </figure>
        </section>
    </article>

    <hr>

    <article>
        <section class="row mt-3 pt-3 mx-auto d-flex-inline align-items-center">
            <h3 class="ml-3 full-width title underline-style-two">
                <a class="bald-link" href="https://behomehagiang.wordpress.com/" target="_blank">
                    Be Home Hostel
                </a>
            </h3>
            <aside class="hashtag is-draft d-none d-md-inline">
                #Draft
            </aside>
        </section>
        <section class="row pt-2 pb-2 mx-auto d-inline-flex flex-wrap">
            <figure class="col-12 col-md-6">
                <figcaption>
                    <h5 class="mt-3 mb-4">
                        Project overview
                    </h5>
                </figcaption>
                <div class="long-screenshot-container">
                    <img class="full-width" src="assets/img/behome_screenshot_low.jpg" alt="Behome Hagiang homepage snapshot">
                </div>
            </figure>
            <section class="col-12 col-md-6">
                <h5 class="mt-3 mb-4">
                    Description
                </h5>
                <p>
                    This project is a draft for a hostel website in Vietnam before moving into a formal wordpress.org website.
                    This is a volunteer contribution for helping during COVID crisis.
                </p>

                <h5 class="mt-4 mb-3">
                    Special achievements
                </h5>
                <ul>
                    <li>Selection of text, images and choice of distribution of the components.</li>
                    <li>Easy to replicate the model and use it for multiple hostels and accomodations at no cost.</li>
                </ul>

                <h5 class="mt-4 mb-3">
                    Technical specifications
                </h5>
                <ul>
                    <li>Build and hosted in WordPress.com free version.</li>
                </ul>
            </section>
        </div>
    </article>

    <article class="p-3 mx-auto"></article>

</article>
